body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 40px;
}
h1 {
    color: red;
    text-align:center;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    color: gray;
    max-width: 600px;
    margin: 0 auto 15px auto;
    line-height: 1.6;
    text-align:left;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: green;
}
